In [262]:
#import pandas library
import pandas as pd
from pathlib import Path

In [338]:
#create and check filepath
csvpath = Path("budget_data.csv")
df = pd.read_csv(csvpath)
df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [339]:
df = df.set_index(df["Date"])
df

              Date  Profit/Losses
Date
Jan-2010  Jan-2010         867884
Feb-2010  Feb-2010         984655
Mar-2010  Mar-2010         322013
Apr-2010  Apr-2010         -69417
May-2010  May-2010         310503
...            ...            ...
Oct-2016  Oct-2016         102685
Nov-2016  Nov-2016         795914
Dec-2016  Dec-2016          60988
Jan-2017  Jan-2017         138230
Feb-2017  Feb-2017         671099

[86 rows x 2 columns]

In [272]:
df.describe(include="all")

            Date  Profit/Losses
count         86   8.600000e+01
unique        86            NaN
top     Jan-2010            NaN
freq           1            NaN
mean         NaN   4.463090e+05
std          NaN   5.363579e+05
min          NaN  -1.196225e+06
25%          NaN   1.821620e+05
50%          NaN   5.703280e+05
75%          NaN   7.952262e+05
max          NaN   1.170593e+06

In [1]:
# compose dictionary
budget = {
    "Jan-2010":867884,
    "Feb-2010":984655,
    "Mar-2010":322013,
    "Apr-2010":-69417,
    "May-2010":310503,
    "Jun-2010":522857,
    "Jul-2010":1033096,
    "Aug-2010":604885,
    "Sep-2010":-216386,
    "Oct-2010":477532,
    "Nov-2010":893810,
    "Dec-2010":-80353,
    "Jan-2011":779806,
    "Feb-2011":-335203,
    "Mar-2011":697845,
    "Apr-2011":793163,
    "May-2011":485070,
    "Jun-2011":584122,
    "Jul-2011":62729,
    "Aug-2011":668179,
    "Sep-2011":899906,
    "Oct-2011":834719,
    "Nov-2011":132003,
    "Dec-2011":309978,
    "Jan-2012":-755566,
    "Feb-2012":1170593,
    "Mar-2012":252788,
    "Apr-2012":1151518,
    "May-2012":817256,
    "Jun-2012":570757,
    "Jul-2012":506702,
    "Aug-2012":-1022534,
    "Sep-2012":475062,
    "Oct-2012":779976,
    "Nov-2012":144175,
    "Dec-2012":542494,
    "Jan-2013":359333,
    "Feb-2013":321469,
    "Mar-2013":67780,
    "Apr-2013":471435,
    "May-2013":565603,
    "Jun-2013":872480,
    "Jul-2013":789480,
    "Aug-2013":999942,
    "Sep-2013":-1196225,
    "Oct-2013":268997,
    "Nov-2013":-687986,
    "Dec-2013":1150461,
    "Jan-2014":682458,
    "Feb-2014":617856,
    "Mar-2014":824098,
    "Apr-2014":581943,
    "May-2014":132864,
    "Jun-2014":448062,
    "Jul-2014":689161,
    "Aug-2014":800701,
    "Sep-2014":1166643,
    "Oct-2014":947333,
    "Nov-2014":578668,
    "Dec-2014":988505,
    "Jan-2015":1139715,
    "Feb-2015":1029471,
    "Mar-2015":687533,
    "Apr-2015":-524626,
    "May-2015":158620,
    "Jun-2015":87795,
    "Jul-2015":423389,
    "Aug-2015":840723,
    "Sep-2015":568529,
    "Oct-2015":332067,
    "Nov-2015":989499,
    "Dec-2015":778237,
    "Jan-2016":650000,
    "Feb-2016":-1100387,
    "Mar-2016":-174946,
    "Apr-2016":757143,
    "May-2016":445709,
    "Jun-2016":712961,
    "Jul-2016":-1163797,
    "Aug-2016":569899,
    "Sep-2016":768450,
    "Oct-2016":102685,
    "Nov-2016":795914,
    "Dec-2016":60988,
    "Jan-2017":138230,
    "Feb-2017":671099,}

In [340]:
df["Profit/Losses"].max()

1170593

In [350]:
df[df['Date']==df['Profit/Losses'].max()]

Empty DataFrame
Columns: [Date, Profit/Losses]
Index: []

In [351]:
#Create Variables
Total_Months = df["Date"].count()
Total = df["Profit/Losses"].sum()
Average_Change = round((df["Profit/Losses"].mean()), 2)
Greatest_Increase = max(budget, key=budget.get)
Greatest_Decrease = min(budget, key=budget.get)

In [352]:
#test calcuations
print(Total_Months)
print(Total)
print(Average_Change)
print(Greatest_Increase)
print(Greatest_Decrease)

86
38382578
446309.05
Feb-2012
Sep-2013

In [359]:
#Set funtion for giving results
def print_results(): 
    print("Financial Analysis")
    print("----------------------------")
    print(f"Total Months: {Total_Months}")
    print(f"Total: ${Total}")
    print(f"Average Change: ${Average_Change}")
    print(f"Greatest Increase in Profits: {Greatest_Increase} (${budget[Greatest_Increase]})")
    print(f"Greatest Decrease in Profits: {Greatest_Decrease} (${budget[Greatest_Decrease]})")

In [360]:
print_results()

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $446309.05
Greatest Increase in Profits: Feb-2012 ($1170593)
Greatest Decrease in Profits: Sep-2013 ($-1196225)

In [362]:
tfile = open('Results.txt', 'w')
tfile.write("Financial Analysis")
tfile.wr
tfile.write("----------------------------")
tfile.write("Total Months: 86")
tfile.write("Total: $38382578")
tfile.write("Average Change: $446309.05")
tfile.write("Greatest Increase in Profits: Feb-2012 ($1170593)")
tfile.write("Greatest Decrease in Profits: Sep-2013 ($-1196225)")
tfile.close()