In [160]:
#import pandas library
import pandas as pd
from pathlib import Path

In [161]:
#create and check filepath, set the index to dates
csvpath = Path("budget_data.csv")
main_df = pd.read_csv(csvpath)
main_df.set_index(('Date'), inplace=True)
main_df.head(10)

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
Jun-2010         522857
Jul-2010        1033096
Aug-2010         604885
Sep-2010        -216386
Oct-2010         477532

In [162]:
#Review summary stats of dataframe
main_df.describe(include="all")

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [164]:
# Utilize drop function to remove the first month to determine the change per month
Average_Change_df = main_df.drop(['Jan-2010'])
Average_Change_df

          Profit/Losses
Date
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
Jun-2010         522857
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[85 rows x 1 columns]

In [165]:
#Create Variables
Total_Months = len(main_df)
Total = main_df['Profit/Losses'].sum()
Average_Change = round(Average_Change_df['Profit/Losses'].mean(), 2)
Greatest_Increase = main_df['Profit/Losses'].max()
Greatest_Decrease = main_df['Profit/Losses'].min()

In [166]:
#Test Calcuations
print(Total_Months)
print(Total)
print(Average_Change)
print(Greatest_Increase)
print(Greatest_Decrease)

86
38382578
441349.34
1170593
-1196225

In [167]:
#Set funtion for giving results
def print_results(): 
    print("Financial Analysis")
    print("----------------------------")
    print(f"Total Months: {Total_Months}")
    print(f"Total: ${Total}")
    print(f"Average Change: ${Average_Change}")
    print(f"Greatest Increase in Profits: (${Greatest_Increase})")
    print(f"Greatest Decrease in Profits: (${Greatest_Decrease})")

In [168]:
#Testing Function
print_results()

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $441349.34
Greatest Increase in Profits: ($1170593)
Greatest Decrease in Profits: ($-1196225)

In [169]:
#Export results into a readable text file
tfile = open('Results.txt', 'w')
tfile.write("Financial Analysis")
tfile.write("----------------------------")
tfile.write("Total Months: 86")
tfile.write("Total: $38,382,578")
tfile.write("Average Change: $441,349.34")
tfile.write("Greatest Increase in Profits: Feb-2012 ($1,170,593)")
tfile.write("Greatest Decrease in Profits: Sep-2013 ($-1,196,225)")
tfile.close()